img{
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    vertical-align: middle;
}

.wrapper{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: white;
    height: 750px;
}

.intro {
    flex:1;
    background-color: white;
}

body {
position: relative;
  background-image: url("back.png");
  background-position: center top;
  background-size: contain;
}

.buttons {
    position: absolute;
 top: 80%;
  right: 80px;
  width: 200px;
  height: 100px;
    display: flex;
padding: 10px;
justify-content: center;}

.home {
    padding: 20px;
    justify-content: center;
    width: 50%;
}   
.back {
    padding: 20px;
    justify-content: center;
    width: 20%;
}   
.forward {
    padding: 20px;
    justify-content: center;
    width: 20%;
}   

@media (max-width: 768px) {
   .buttons {
    position: absolute;
    top: 450px;

   }}

   @media (max-width: 768px){
    .wrapper{
        height: 825px;
    }
   }
